{% extends 'base.html.twig' %}

{% block title %} About {% endblock %}

{% block body %}
    <br>
    <h1>About</h1>
    <ul>
        <li>Simple CMS for admin</li>
        <li>Created to gain experience in Symfony 4</li>
        <li>According to me, this is REST Api on level Two in Richardson Maturity Model</li>
    </ul>
    <hr>
    <a href="/admin/food">Go Back</a>
{% endblock %}