{% extends 'base.html.twig' %}

{% block title %} New {% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    
    <br>
    <a href="/admin/food">Go Back</a>
{% endblock %}
