{% extends 'base.html.twig' %}

{% block title %} Good Food! {% endblock %}

{% block body %}
    <br>
    <h1>{{ item.name }}</h1>
    <p>{{ item.description}}</p>
    <hr>
    <a href="/admin/food">Go Back</a>
{% endblock %}