{% extends 'base.html.twig' %}

{% block title %} Good Food! {% endblock %}

{% block body %}
    <br>
    <h1>{{ type }}</h1>
    <h4>{{ name }}</h4>
    <p>{{ item.description }}</p>
    <hr>
    <a href="/admin/food">Go Back</a>
{% endblock %}